@model ConsumeWebAPI.Models.ServerDataModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new record of ServerData</h2>

<article>
    <p>
        Here you can manipulat server data.
    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>ServerDataModel</legend>

            <div class="label">
                @Html.LabelFor(model => model.InitialDate)
            </div>
            <div class="label">
                @Html.EditorFor(model => model.InitialDate)
                @Html.ValidationMessageFor(model => model.InitialDate)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="label">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.OrderNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OrderNumber)
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.IsDirty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsDirty)
                @Html.ValidationMessageFor(model => model.IsDirty)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.IP)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IP)
                @Html.ValidationMessageFor(model => model.IP)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>

            <div class="label">
                @Html.LabelFor(model => model.RecordIdentifier)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RecordIdentifier)
                @Html.ValidationMessageFor(model => model.RecordIdentifier)
            </div>

            <p>
                <input type="submit" value="Create" />  @Html.ActionLink("Cancel", "Index", null, new { @class = "actionlinkbutton" })
            </p>
        </fieldset>
    }
</article>
<aside>
    <h3>Navigation</h3>
    <p>
        From here you can navigate other parts of app.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Manipulate Data", "Index", "ServerData")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
